<!doctype html>
<html>
  <head>
    <title>John Doe Portfolio</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
  </head>
  <body style="margin: 0; padding: 0">
    <div style="background-color: #8b4513; overflow: hidden; text-align: center">
      <h1 style="color: #fff8d5; margin-top: 10px">John Doe Portfolio</h1>
      <h4 style="color: #c69263; margin-bottom: 10px">Professional Web Developer</h4>
    </div>
    <div style="background-color: #deb887; overflow: hidden; margin-top: 0.05cm; color: #6c4926">
      <h2>About Me</h2>
    </div>
    <div
      style="
        display: flex;
        overflow: hidden;
        margin-left: 5.9%;
        margin-top: 10px;
        margin-bottom: 10px;
      "
    >
      <div style="display: flex; flex-direction: column">
        <img src="../assets/images/profile_image.jpg" alt="John Doe Profile Image" width="200px" />

        <div
          style="display: flex; flex-direction: row; overflow: hidden; gap: 5px; margin-top: 10px"
        >
          <img src="../assets/images/facebook.png" alt="facebook icon" width="45px" />
          <img src="../assets/images/linkedin.png" alt="facebook icon" width="45px" />
          <img src="../assets/images/github.png" alt="facebook icon" width="45px" />
          <img src="../assets/images/instagram.png" alt="facebook icon" width="45px" />
        </div>
      </div>
      <div style="margin-left: 5.9%">
        <p style="margin-top: 5px">
          Hello! I'm John Doe, a passionate web developer with over 5 years of experience in
          creating innovative digital solutions. I specialize in full-stack development and have a
          keen interest in modern web technologies.
        </p>
        <p>
          My journey in web development started during my college years, and since then I've been
          continuously learning and adapting to new technologies. I believe in writing clean,
          efficient code and creating user-friendly interfaces.
        </p>
        <h2 style="color: #904f33">Skills</h2>
        <ul>
          <li>HTML5</li>
          <li>CSS3</li>
          <li>JAVASCRIPT</li>
          <li>React.js</li>
          <li>Angular</li>
        </ul>
      </div>
    </div>
    <div style="background-color: #deb887; overflow: hidden; margin-top: 0.03cm; color: #6c4926">
      <h2>Experience Timeline</h2>
    </div>
    <!-- <p style="margin: 0; padding: 0; text-align: center">Professional Experience Overview</p> -->
    <div style="margin: 0px 2px 0px 2px">
      <table style="width: 100%; border: 2px solid black; border-collapse: collapse">
        <caption>Professional Experience Overview</caption>
        <thead>
          <tr
            style="
              text-align: center;
              color: white;
              background: #a0522d;
              height: 40px;
              border-bottom: 2px solid black;
            "
          >
            <th style="border-right: 2px solid black">Company</th>
            <th style="border-right: 2px solid black">Logo</th>
            <th style="border-right: 2px solid black">Role</th>
            <th style="border-right: 2px solid black">Key Achievements</th>
            <th style="border-right: 2px solid black">Dates</th>
          </tr>
        </thead>
        <tbody style="text-align: left">
          <tr>
            <td rowspan="2" style="border-right: 2px solid black; padding-left: 10px">
              Tech Corp Solutions
            </td>
            <td rowspan="2" style="border-right: 2px solid black; padding-left: 10px">
              <img src="../assets/images/tech.png" alt="Tech Logo" width="100px" />
            </td>
            <td style="border-right: 2px solid black; padding-left: 10px">
              Senior Full Stack Developer
            </td>
            <td style="border-right: 2px solid black; padding-left: 10px">
              <ul>
                <li>Lead development of web applications</li>
                <li>Mentor junior developers</li>
                <li>Architect scalable solutions</li>
              </ul>
            </td>
            <td style="padding-left: 10px">Jan 2023 - Present</td>
          </tr>
          <tr style="border-top: 2px solid black">
            <td style="border-right: 2px solid black; padding-left: 10px">Full Stack Developer</td>
            <td style="border-right: 2px solid black; padding-left: 10px">
              <ul>
                <li>Developed responsive web applications</li>
                <li>Collaborated with design teams</li>
                <li>Optimized application performance</li>
              </ul>
            </td>
            <td style="padding-left: 10px">2021 - 2023</td>
          </tr>
          <tr style="border-top: 2px solid black">
            <td style="border-right: 2px solid black; padding-left: 10px">Digital Agency Pro</td>
            <td style="border-right: 2px solid black; padding-left: 10px">
              <img src="../assets/images/digital.png" alt="Digital Agency Logo" width="100px" />
            </td>
            <td style="border-right: 2px solid black; padding-left: 10px">Frontend Developer</td>
            <td style="border-right: 2px solid black; padding-left: 10px">
              <ul>
                <li>Built user interfaces from mockups</li>
                <li>Implemented responsive designs</li>
                <li>Conducted code reviews</li>
              </ul>
            </td>
            <td style="padding-left: 10px">2019 - 2020</td>
          </tr>
          <tr style="border-top: 2px solid black; border-bottom: 2px solid black">
            <td style="border-right: 2px solid black; padding-left: 10px">Web Design Studio</td>
            <td style="border-right: 2px solid black; padding-left: 10px">
              <img src="../assets/images/web.png" alt="Web Design Logo" width="100px" />
            </td>
            <td style="border-right: 2px solid black; padding-left: 10px">Junior Web Developer</td>
            <td style="border-right: 2px solid black; padding-left: 10px">
              <ul>
                <li>Maintained existing websites</li>
                <li>Fixed bugs and implemented features</li>
                <li>Learned best practices</li>
              </ul>
            </td>
            <td style="padding-left: 10px">2019 - 2020</td>
          </tr>
        </tbody>
        <tfoot>
          <th
            colspan="5"
            style="
              color: white;
              background-color: #a0522d;
              text-align: left;
              padding: 10px 0px 10px 10px;
            "
          >
            Total Experience: 5+ years in web development
          </th>
        </tfoot>
      </table>
    </div>
    <div style="background-color: #deb887; overflow: hidden; margin-top: 0.08cm">
      <h2 style="color: #6c4926">Contact Me</h2>
      <p style="color: #b07443">
        Feel free to reach out to me using the form below. I'd love to hear from you!Retry
      </p>
    </div>
    <form action="mailto:zeyadismailo2002@gmail.com" method="post">
      <fieldset style="background-color: #faf0e6">
        <legend style="color: #c09273">Personal Information</legend>
        <table>
          <tr>
            <td style="padding-right: 30px"><label for="fname">First Name: *</label></td>
            <td><input required type="text" name="firstName" id="fname" /></td>

            <td style="padding-left: 300px; padding-right: 30px">
              <label for="lname">Last Name: *</label>
            </td>
            <td><input required type="text" name="lastName" id="lname" /></td>
          </tr>
          <tr>
            <td style="padding-right: 30px"><label for="email">Email Address: *</label></td>
            <td><input required type="email" name="Email" id="email" /></td>

            <td style="padding-left: 300px; padding-right: 30px">
              <label for="phone">Phone Number: *</label>
            </td>
            <td><input type="number" name="Phone" id="phone" /></td>
          </tr>
          <tr>
            <td style="padding-right: 30px"><label for="date">Preferred Meeting Date:</label></td>
            <td><input type="date" name="Date" id="date" /></td>

            <td style="padding-left: 300px; padding-right: 30px">
              <label for="time">Best Time To Contact:</label>
            </td>
            <td><input type="time" name="Time" id="time" /></td>
          </tr>
        </table>
      </fieldset>
      <fieldset style="background-color: #f5deb3; margin-top: 30px; margin-bottom: 10px">
        <legend style="color: #c09273">Project Details</legend>
        <table style="margin-bottom: 10px">
          <tr>
            <td style="padding-right: 30px"><label for="ptype">Project Type: *</label></td>
            <td><input required type="text" name="projectType" id="ptype" /></td>

            <td style="padding-left: 300px; padding-right: 30px">
              <label for="desc">Project Description: *</label>
            </td>
            <td><textarea required name="Description" id="desc"></textarea></td>
          </tr>
          <tr>
            <td>
              <p style="margin: 0; padding: 0">Budget Range:</p>

              <div>
                <input
                  type="radio"
                  value="u5"
                  name="budget"
                  id="u5"
                  style="vertical-align: middle"
                />
                <label for="u5" style="margin: 0; padding: 0; vertical-align: middle">
                  Under $5,000
                </label>
              </div>
              <div>
                <input
                  type="radio"
                  value="5-10"
                  name="budget"
                  id="5-10"
                  style="vertical-align: middle"
                />
                <label for="5-10" style="margin: 0; padding: 0; vertical-align: middle">
                  $5,000 - $10,000
                </label>
              </div>
              <div>
                <input
                  type="radio"
                  value="10-25"
                  name="budget"
                  id="10-25"
                  style="vertical-align: middle"
                />
                <label for="10-25" style="margin: 0; padding: 0; vertical-align: middle">
                  $10,000 - $25,000
                </label>
              </div>
              <div>
                <input
                  type="radio"
                  value="25"
                  name="budget"
                  id="25"
                  style="vertical-align: middle"
                />
                <label for="25" style="margin: 0; padding: 0; vertical-align: middle">
                  over $25,000
                </label>
              </div>
            </td>
            <td></td>
            <td style="padding-left: 300px">
              <p style="margin: 0; padding: 0">Services Required (Check all that apply):</p>

              <div>
                <input
                  type="checkbox"
                  name="ui/uxDesign"
                  id="ui/ux"
                  value="ui/ux"
                  style="vertical-align: middle"
                />
                <label for="ui/ux" style="margin: 0; padding: 0; vertical-align: middle">
                  UI/UX Design
                </label>
              </div>
              <div>
                <input
                  type="checkbox"
                  name="frontendDevelopment"
                  id="frontend"
                  value="frontend"
                  style="vertical-align: middle"
                />
                <label for="frontend" style="margin: 0; padding: 0; vertical-align: middle">
                  Frontend Development
                </label>
              </div>
              <div>
                <input
                  type="checkbox"
                  value="backend"
                  name="backend"
                  id="backend"
                  style="vertical-align: middle"
                />
                <label for="backend" style="margin: 0; padding: 0; vertical-align: middle">
                  Backend Development
                </label>
              </div>
              <div>
                <input
                  type="checkbox"
                  name="Hosting & Deployment"
                  id="hosting"
                  value="hosting"
                  style="vertical-align: middle"
                />
                <label for="hosting" style="margin: 0; padding: 0; vertical-align: middle">
                  Hosting & Deployment
                </label>
              </div>
              <div>
                <input
                  type="checkbox"
                  name=" Maintenance & Support"
                  id="maintenance"
                  value="maintenance"
                  style="vertical-align: middle"
                />
                <label for="maintenance" style="margin: 0; padding: 0; vertical-align: middle">
                  Maintenance & Support
                </label>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <label for="menu">How did you hear about me ?</label>
              <select style="width: 150px" id="menu" name="menu ">
                <option value="" disabled selected>--select source</option>
                <option value="home">Home</option>
                <option value="about">About</option>
                <option value="services">Services</option>
                <option value="contact">Contact</option>
              </select>
            </td>
          </tr>
        </table>
      </fieldset>
      <div style="margin-bottom: 10px">
        <button type="submit">Send Message</button>
        <button type="reset">Clear Form</button>
      </div>
    </form>
  </body>
</html>
